*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}


body{
 background-color: rgb(0, 0, 0);
    
  }



h2 {
text-align: center;
color: hsla(0, 0%, 100%, 0.89);
letter-spacing: 7px;
height: 90%;


}

.img-fluid {
  height: 90%;
  width: 90%;
}


.cor1 {

  background-color: #700000;
}
